.blogWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120vh;
}
.blogContributeWrapper {
  margin: 0 20%;
  margin-top: 30%;
}
