.layoutNavbar {
  margin-top: -40px;
  height: 100px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #212121;
  box-shadow: 0 2px 4px 0 rgb(167, 52, 52);
  color: #ffffff;
}
.logo {
  width: 40px;
  height: 40px;
  margin-left: -40px;
  padding-top: 15px;
  cursor: pointer;
  border-radius: 40%;
}
.logoText {
  padding-top: 25px;
  color: #7a7878;
  font-size: 22px;
  font-weight: 900;
  margin-right: auto;
  margin-left: -30px;
}
.layoutNavbar ul li {
  list-style: none;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 0 10px;
}
.layoutNavbar-links,
.s-layoutNavbar-links {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  border: 4px solid red;
  border-radius: 50%;
  padding: 2px 0;
  margin: 0 12px;
  color: #ffffff;
  cursor: pointer;
}
.layoutNavbar-links:hover,
.s-layoutNavbar-links:hover {
  animation-name: links;
  animation-duration: 1s;
}
@keyframes links {
  0% {
    transform: scale(1);
    border-color: #555555;
  }
  50% {
    transform: scale(1.1);
    border-color: #212121;
  }
  100% {
    transform: scale(1);
    border-color: red;
  }
}
#coursesLinks1,
#coursesLinks2,
#coursesLinks3,
#s-coursesLinks1,
#s-coursesLinks2,
#s-coursesLinks3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 10px;
  padding: 2px 10px;
  background-color: #ffffff;
  border-radius: 30%;
  margin: 5px 0;
  padding: 0 55px;
  border-color: #ffffff;
}
#home,
#s-home {
  padding: 0 7px;
}
#blog,
#s-blog {
  border: 0;
  font-size: 16px;
}
#blog:hover,
#s-blog:hover {
  background-color: none;
}
#lightMode,
#darkMode #s-lightMode,
#s-darkMode {
  padding: 5px 5px;
}
.coursesDiv .s-coursesDiv {
  display: flex;
  color: #ffffff;
  flex-direction: column;
}
.coursesDisplayDiv,
.s-coursesDisplayDiv {
  margin-top: -30px;
  display: flex;
  align-items: center;
}
#courses,
#s-courses {
  color: #ffffff;
  cursor: pointer;
  font-size: 22px;
  font-weight: 900;
  margin-top: -13px;
}
#loginFirst,
#s-loginFirst {
  width: 183px;
  height: 40px;
  border-radius: 10px;
  padding: 5px;
  margin-top: 90px;
  margin-left: -40px;
  position: absolute;
  background-color: #737373;
  color: #ffffff;
  border: 0;
  font-weight: 800;
  text-align: center;
  font-size: 16px;
  padding-top: 10px;
  animation-name: courses;
  animation-duration: 0.1s;
  cursor: none;
}
#coursesContents,
#s-coursesContents {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 234px;
  margin-left: -40px;
  background-color: #f2f2f2;
  border-color: red;
  border-radius: 5px;
  color: #212121;
  width: 150px;
  height: fit-content;
  padding: 12px 10px;
  padding-right: 40px;
  animation-name: courses;
  animation-duration: 0.3s;
}
@keyframes courses {
  0% {
    margin-top: 40px;
    opacity: 0;
  }
  100% {
    margin-top: 170px;
    opacity: 1;
  }
}
.coursesContents,
#s-coursesContents {
  font-size: 12px;
  color: #737373;
  font-weight: 900;
}
#login,
#s-login #logout,
#s-logout {
  width: 35px;
  padding: 2px;
}
#userImg,
#s-userImg {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
}
.layoutNavbar-user_div,
.s-layoutNavbar-user_div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: #f2f2f2;
  height: 200px;
  padding: 10px 15px;
  position: absolute;
  border-radius: 5px;
  right: 0;
  margin-top: 280px;
  animation-name: user;
  animation-duration: 0.3s;
}
@keyframes user {
  0% {
    margin-top: 170px;
    opacity: 0;
  }
  100% {
    margin-top: 220px;
    opacity: 1;
  }
}
.layoutNavbar-user_div p,
.s-layoutNavbar-user_div p {
  margin-bottom: -10px;
  font-weight: 600;
  text-align: center;
  color: #212121;
}
.layoutNavbar-user_div h2,
.s-layoutNavbar-user_div h2 {
  cursor: pointer;
  font-size: 20px;
  margin-top: 40px;
  text-align: center;
  color: rgb(252, 0, 0);
  font-weight: 900;
}
.s-navbar {
  display: none;
  color: #f2f2f2;
  position: absolute;
  right: 0;
  padding: 15px 15px;
  background-color: #f3f3f3;
  width: 150px;
  border-radius: 7px;
}
.menuIcon {
  display: none !important;
  cursor: pointer;
}

/*Media Queries*/
@media screen and (max-width: 940px) {
  .layoutNavbar-user_div {
    display: none;
  }
  .coursesDiv {
    display: none;
  }
  .menuIcon {
    width: 40px !important;
    height: 40px !important;
    display: block !important;
    color: rgb(167, 52, 52) !important;
  }
  .s-navbar {
    display: block;
    background-color: #f3f3f3;
    width: 280px;
    height: 450px;
    padding: 10px 10px;
    padding-right: 0;
    margin-top: 10px;
  }
  .s-navbarFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .s-navbar h1,
  #s-darkMode,
  #s-lightMode {
    color: #212121 !important;
  }
  #s-darkMode,
  #s-lightMode {
    width: 10px !important;
    height: 10px !important;
    margin-bottom: 15px;
  }
  #s-blog {
    font-size: 16px;
  }
  #s-courses {
    font-size: 18px;
    margin: 5px 0;
    margin-bottom: 20px;
    margin-left: 5px;
  }
  #login1 {
    display: none;
  }
  #s-userImg {
    width: 30px;
    height: 30px;
    margin-top: 40px;
  }
  .s-coursesDisplayDiv {
    margin-left: 10px;
    padding-top: 40px;
  }
  .s-layoutNavbar-user_div {
    margin-top: 320px;
  }
  #s-loginFirst {
    margin-left: -35px;
  }
  #s-login {
    color: #212121 !important;
  }
  .s-menuIcon {
    display: block !important;
    width: 50px !important;
    height: 50px !important;
    color: red;
    cursor: pointer;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    width: 35px;
    height: 55px;
  }
  .logoText {
    font-size: 18px;
  }
  .layoutNavbar ul li {
    padding: 7px 7px;
  }
  .layoutNavbar-links {
    font-size: 18px;
    border: 3px solid red;
    margin: 0 10px;
  }
  #coursesLinks1,
  #coursesLinks2,
  #coursesLinks3 {
    padding-right: 1px;
  }
  #courses {
    font-size: 18px;
  }
  .coursesContents {
    font-size: 10px;
  }
  #loginFirst {
    margin-left: -61px;
  }
  .menuIcon {
    width: 35px !important;
    height: 35px !important;
  }
}
@media screen and (max-width: 319px) {
  .logoText {
    font-size: 14px;
  }
  .layoutNavbar ul li {
    padding: 0 5px;
  }
  .layoutNavbar-links {
    font-size: 16px;
    border: 2px solid red;
    margin: 0 8px;
  }
  #courses {
    font-size: 16px;
  }
  .coursesContents {
    font-size: 8px;
  }
  #loginFirst {
    margin-left: -75px;
  }
  .menuIcon {
    width: 30px !important;
    height: 30px !important;
  }
}
.smallScreen-nav_div {
  display: none;
}

/*Sidebar*/
.sidebarWrapper {
  position: sticky;
  height: 60vh;
  min-width: 350px;
  max-width: 350px;
  top: 130px;
  left: 0;
  bottom: 0;
  background-color: #212121;
  overflow-y: scroll;
  padding-bottom: 80px;
}
.sidebarTitle {
  padding: 10px 0;
  padding-left: 40px;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 20px;
  background-color: rgb(167, 52, 52);
}
.sidebarSearchForm {
  background-color: #212121;
  padding: 15px 10%;
  padding-bottom: 10px;
}
.sidebarSearchForm input {
  padding: 10px 43px;
  border-radius: 5px;
  border: 1px solid #212121;
  outline: none;
  text-align: center;
}
.refreshTitleBtn{
  padding: 3px 5px;
  cursor: pointer;
  font-weight: 550px;
  border: 0;
  border-radius: 2px;
  margin: 0 130px;
}
.sidebarBlog-title_link {
  text-decoration: none;
}
.sidebarBlog-title_list {
  border: 1px solid #ffffff;
  margin: 20px -7px;
  border-radius: 4px;
  width: 80%;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 10px;
  list-style: none;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
}
.sidebarBlog-title_list:hover {
  background-color: #fff;
  color: #212121;
  transition: all 0.3s;
}
.arrowRight {
  display: none !important;
}
.sidebarBlog-title_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.arrowRight {
  background-color: #555555 !important;
  color: #f2f2f2;
  cursor: pointer;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  margin-left: 290px;
}
.sidebarFooterDiv {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.sidebarFooter-heading {
  text-align: center;
  margin-bottom: -2px;
  cursor: pointer;
}
.sidebarFooter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebarFooterExpand {
  cursor: pointer;
}
.sidebarFooterBtn {
  background-color: #212121;
  padding: 10px 40px;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
}
.appUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sidebarFooterUser {
  background-color: #212121;
  color: #ffffff;
  font-size: 18px;
  background-color: rgb(167, 52, 52);
  width: 100%;
  padding: 7px 0;
  text-align: center;
  font-style: italic;
}
@media screen and (max-width: 940px) {
  #blog,
  #course,
  .expand,
  #darkMode,
  #lightMode,
  #userImg {
    display: none;
  }
  .sidebarWrapper {
    position: fixed;
  }
  .sidebarBlog-title_list {
    width: 80%;
  }
  .arrowRight {
    display: block !important;
  }
}
@media screen and (max-width: 370px) {
  .sidebarWrapper {
    max-width: 300px;
    min-width: 300px;
  }
  .sidebarSearchForm {
    background-color: #212121;
    padding-left: 10px;
  }
  .sidebarSearchForm input {
    padding: 10px 35px;
  }
  .sidebarBlog-title_list {
    width: 90%;
    margin-left: -30px;
  }
  .arrowRight {
    margin-left: 260px;
  }
}