.homeWrapper {
  margin: 35% 10px;
  height: 320vh;
}
.homeAbout-div {
  display: flex;
  justify-content: center;
  animation-name: welcome;
  animation-duration: 1s;
}
.homeAbout {
  margin: 130px 70px 50px 70px;
  line-height: 32px;
  border-radius: 10px;
  width: 100%;
}
.About-title {
  font-size: 32px;
  font-weight: 700;
  color: #737373;
  margin: 12px 0;
}
.About-details {
  font-size: 28px;
  line-height: 32px;
  font-weight: 500;
  color: #555555;
  margin: 10px 0;
}
.codeMiller-span {
  color: rgb(167, 52, 52);
}
.contributeLink {
  text-decoration: none;
  color: rgb(167, 52, 52);
}
.homeAbout-img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  margin-top: 90px;
  margin-right: -70px;
}
.appGuide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 72px;
}
.appGuide-title {
  color: #555555;
  margin-bottom: -10px;
  margin-top: -10px;
}
.appGuide-details {
  font-size: 20px;
}
.homeBigBtnsDiv {
  margin-left: 65px;
}
.homeBigBtns {
  display: flex;
}
.homeBigBtn {
  width: 200px;
  padding: 10px 25px;
  border: 0;
  border-radius: 7px;
  cursor: pointer;
  margin-right: 20px;
  background-color: rgb(167, 52, 52);
  color: #ffffff;
  font-weight: 700;
}
.homeBigBtn:hover {
  background-color: #cccccc;
  color: rgb(167, 52, 52);
  transition: all 0.3s;
}
#homeBigBtn {
  background-color: #ffffff;
  color: rgb(167, 52, 52);
  border: 1px solid rgb(167, 52, 52);
}
#homeBigBtn:hover {
  background-color: rgb(167, 52, 52);
  transition: all 0.3s;
  color: #ffffff;
  border: 0;
}
.faqContactDiv{
  width: 86%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.homeFAQs {
  box-shadow: 0 2px 8px 0 rgb(167, 52, 52);
  border-radius: 10px;
  width: 100%;
  margin-left: 70px;
  margin-top: 100px;
  padding: 20px 0;
}
.homeFAQs-gen_title {
  margin-left: 40px;
  color: #737373;
}
.homeFAQs-main_flex {
  display: flex;
  justify-content: space-between;
}
.homeFAQs-flex {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}
.homeFAQs-div {
  display: flex;
}
.homeFAQs-heading {
  margin-bottom: -10px;
  cursor: pointer;
}
.homeFAQs-expands {
  margin-top: 20px;
}
.homeFAQs-click a {
  text-decoration: none;
  font-weight: 700;
}
.qsImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.homeFAQs-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 10px;
}
.homeContacts {
  margin: 0 auto;
  margin-left: 70px;
  margin-top: 100px;
  height: 590px;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 2px 8px 0 rgb(167, 52, 52);
}
.homeContacts-gen_title {
  text-align: center;
  margin-bottom: 0;
  color: #737373;
  padding-top: 30px;
}
.homeContacts-flex {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  margin: 10px 0;
}
.homeContacts-social_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homeContact-newsletter {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
}
.homeContact-newsletter-title {
  font-size: 20px;
  color: #555555;
}
.subForm {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.homeContact-sub {
  width: 100%;
  border-radius: 5px;
  padding: 15px 10px;
  outline: none;
  border: 1px solid #d7d7d7;
}
.homeContact-sub_btn {
  border-radius: 5px;
  background-color: rgb(167, 52, 52);
  border: 0;
  padding: 20px 10px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  width: 70%;
  margin-top: 10px;
}
.homeContact-sub_btn:hover {
  background-color: red;
}
.textarea {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  margin-left: -20px;
}
.homeContact-msg {
  padding: 15px 10px;
  resize: none;
  width: 100%;
  border: 1px solid #d7d7d7;
  outline: none;
  height: 140px;
  border-radius: 5px;
}
.homeContact-comment_btn {
  border-radius: 5px;
  background-color: rgb(167, 52, 52);
  border: 0;
  margin-top: 10px;
  padding: 15px 10px;
  margin-left: 20px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}
.homeContact-comment_btn:hover {
  background-color: red;
}
.homeContacts-img2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 8px 0 rgb(167, 52, 52);
}

/*Media Queries*/
@media screen and (max-width: 1200px) {
  .homeAbout-div{
    margin-top: -10px;
    width: 120%;
  }
  .homeAbout-img {
    display: none;
  }
  .homeFAQs-img{
    display: none;
  }
}
@media screen and (max-width: 940px) {
  .homeWrapper{
    height: fit-content;
  }
  .homeAbout-img {
    display: none;
  }
  .faqContactDiv{
    width: 100%;
    margin-left: 0;
  }
}
@media screen and (max-width: 600px) {
  .homeWrapper {
    max-width: 100%;
  }
  .faqContactDiv{
    margin-left: -10%
  }
  .homeFAQs-img {
    display: none;
  }
  .homeContacts-flex {
    flex-direction: column-reverse;
  }
  .homeContacts-img {
    display: none;
  }
  .homeContact-newsletter {
    width: 88%;
    margin: 0 0;
    margin-left: 5%;
  }
}
@media screen and (max-width: 480px) {
  .homeWrapper {
    margin: 55% 10px;
  }
  .faqContactDiv{
    width: 140%;
    margin: -105px;
  }
  .homeAbout-div {
    width:140%;
  }
}
@media screen and (max-width: 350px) {
  .About-details{
    font-size: 20px;
  }
  .homeBigBtn{
    width: 170px;
  }
}
