.homeWrapper {
  padding-bottom: -30%;
  margin: 0 7%;
  margin-top: 38%;
  height: 270vh;
  width: 85%;
}
.homeAbout-div {
  display: flex;
  justify-content: center;
}
.homeAbout {
  margin: 130px 40px 50px 70px;
  line-height: 32px;
  border-radius: 10px;
  width: 85%;
  animation-name: welcome;
  animation-duration: 1s;
}
@keyframes welcome {
  0%{
    margin-top: -200px;
  }
  100%{
    margin-top: initial;
  }
}
.About-title {
  font-size: 32px;
  font-weight: 700;
  color: #555555;
  margin: 12px 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Lobster', cursive;
}
.About-details {
  font-size: 28px;
  line-height: 32px;
  font-weight: 500;
  color: #555555;
  margin: 10px 0;
}
.codeMiller-span {
  color: rgb(167, 52, 52);
}
.contributeLink {
  text-decoration: none;
  color: rgb(167, 52, 52);
}
.homeAbout-img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  margin-top: 90px;
}
.homeAbout-img{
  margin-right: -70px;
  animation-name: aboutImg;
  animation-duration: 1s;
}
@keyframes aboutImg {
  0%{
   transform: rotate(180deg);
   margin-right: -300px;
  }
  25%{
    transform: rotate(90deg);
    margin-right: -260px;
   }
   50%{
    transform: rotate(270deg);
    margin-right: -230px;
   }
  100%{
   transform: rotate(360deg);
   margin-right: initial;
  }
}
.appGuide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
#appGuide{
  margin-left: 30px;
}
.appGuide-title {
  color: #555555;
  margin-bottom: -10px;
  margin-top: -10px;
}
.appGuide-details {
  font-size: 20px;
}
.homeBigBtnsDiv {
  margin-top: -40px;
  margin-left: 70px;
  animation-name: bigBtn;
  animation-duration: 1s;
  animation-delay: 1s;
}
@keyframes bigBtn {
  0%{
  margin-top: -50px;
  }
  100%{
    margin-top: initial;
  }
}
.homeBigBtns {
  display: flex;
}
.homeBigBtn {
  width: 200px;
  padding: 10px 25px;
  border: 0;
  border-radius: 7px;
  cursor: pointer;
  margin-right: 20px;
  background-color: #2f8aa5;
  color: #ffffff;
  font-weight: 700;
}
.homeBigBtn:hover {
  background-color: #fff;
  color: rgb(167, 52, 52);
  transition: all 0.3s;
}
#homeBigBtn {
  background-color: #ffffff;
  color: rgb(167, 52, 52);
  border: 1px solid rgb(167, 52, 52);
}
#homeBigBtn:hover {
  background-color: rgb(167, 52, 52);
  transition: all 0.3s;
  color: #ffffff;
  border: 0;
}
.faqContactDiv{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.homeFAQs {
  box-shadow: 2px 2px 2px 4px #ccc;
  border-radius: 10px;
  width: 100%;
  margin-left: 70px;
  margin-top: 100px;
  padding: 20px 0;
}
.homeFAQs-gen_title {
  margin-left: 40px;
  color: #2f8aa5;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Lobster', cursive;
}
.homeFAQs-main_flex {
  display: flex;
  justify-content: space-between;
}
.homeFAQs-flex {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}
.homeFAQs-div {
  display: flex;
}
.homeFAQs-heading {
  margin-bottom: -10px;
  cursor: pointer;
}
.homeFAQs-expands {
  margin-top: 20px;
}
.homeFAQs-click a {
  text-decoration: none;
  font-weight: 700;
}
.qsImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.homeFAQs-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 10px;
}
.homeContacts {
  margin: 0 auto;
  margin-left: 70px;
  margin-top: 100px;
  height: 590px;
  border-radius: 10px;
  width: 100%;
  box-shadow: 2px 2px 2px 4px #ccc;
}
.homeContacts-gen_title {
  text-align: center;
  margin-bottom: 0;
  color: #737373;
  padding-top: 30px;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Lobster', cursive;
}
.homeContacts-flex {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  margin: 10px 0;
}
.homeContacts-social_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homeContact-newsletter {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
}
.homeContact-newsletter-title {
  font-size: 20px;
  color: #555555;
}
.subForm {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.homeContact-sub {
  width: 100%;
  border-radius: 5px;
  padding: 15px 10px;
  outline: none;
  border: 1px solid #d7d7d7;
}
.homeContact-sub_btn {
  border-radius: 5px;
  background-color: #2f8aa5;
  border: 0;
  padding: 15px 10px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  width: 70%;
  margin-top: 10px;
}
.homeContact-sub_btn:hover {
  background-color: #2f8aa5;
}
.textarea {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  margin-left: -20px;
}
.homeContact-msg {
  padding: 15px 10px;
  resize: none;
  width: 100%;
  border: 1px solid #d7d7d7;
  outline: none;
  height: 140px;
  border-radius: 5px;
}
.homeContact-comment_btn {
  border-radius: 5px;
  background-color: #2f8aa5;
  border: 0;
  margin-top: 10px;
  padding: 15px 10px;
  margin-left: 20px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}
.homeContact-comment_btn:hover {
  background-color: #2f8aa5;
}
.homeContacts-img2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 8px 0 rgb(167, 52, 52);
}

/*Media Queries*/
@media screen and (max-width: 1200px) {
  .homeWrapper{
  margin: 0 0;
  height: 280vh;
  }
  .homeAbout-div{
    margin-top: 300px;
    width: 115%;
  }
  .homeAbout-img {
    display: none;
  }
  .homeFAQs-img{
    display: none;
  }
}
@media screen and (max-width: 940px) {
  .homeWrapper{
    height: fit-content;
    margin: 0 10%;
    margin-top: 90px;
  }
  .homeAbout-div{
    margin-top: -100px;
  }
  .homeAbout-img {
    display: none;
  }
  .faqContactDiv{
    width: 100%;
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .homeWrapper {
    padding-bottom: -30%;
    margin: 0 7%;
    margin-top: 38%;
    width: 85%;
  }
  .About-title, .homeContacts-gen_title, .homeFAQs-gen_title{
    font-size: 22px;
  }
}
@media screen and (max-width: 600px) {
  .homeWrapper{
      width: 100%;
      margin-left: -5%;
  }
}
@media screen and (max-width: 480px) {
  .homeWrapper{
    margin-left: -10%;
  }
  .homeAbout-div{
    margin-left: 10px;
  }
  .About-details{
    font-size: 20px;
  }
  .homeBigBtn{
    width: 130px !important;
  }
  .homeContact-newsletter-title{
    font-size: 16px;
  }
}
@media screen and (max-width: 375px) {
  .homeWrapper{
    min-width: 130%;
    margin-left: -23%;
    padding: 0 auto;
    text-align: center;
  }
  .homeAbout-div{
    margin-left: -7px;
  }
  .homeBigBtnsDiv{
    margin-left: 90px;
  }
  .homeBigBtns{
    display: flex;
  }
  .homeBigBtn{
    margin-bottom: 4px;
  }
  .homeFAQs, .homeContacts{
    margin-left: 50px;
  }
} 
@media screen and (max-width: 320px) {
  .homeWrapper{
    margin-left: -27%;
  }
  .homeAbout-div{
    margin-left: 7px;
  }
  .homeBigBtnsDiv{
    margin-left: 70px;
  }
  .homeFAQs-gen_title{
    margin-left: -10px;
  }
  .homeFAQs-div{
  width: 130%;

  }
}