.App {
  padding-bottom: 10px;
}
.appRouter {
  width: 70%;
  margin-left: 40px;
  height: 100%;
  margin-top: -15%;
}
.sidebarAppDiv {
  display: flex;
}
.errorBoundary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10% 20%;
}
.errorBoundary-title {
  color: #111;
  font-size: 32px;
}
.errorBoundary-message {
  color: red;
  font-size: 24px;
}