body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}
.link {
  text-decoration: none;
}
#topRegion {
  position: fixed;
  top: 200px;
  right: 0;
  border-radius: 5px;
  border: 1px solid #2f8aa5;
  margin: 0 14px;
  padding: 3px 7px;
  color: #2f8aa5;
}
#circleArrow {
  display: none;
  position: fixed;
  border-radius: 50%;
  top: 100px;
  left: 5px;
}
.arrows {
  width: 40px !important;
  height: 40px !important;
  color: #555555 !important;
}
#topRegion:hover {
  background-color: #555555;
  color: #ffffff;
  cursor: pointer;
}
@media screen and (max-width: 940px) {
  #circleArrow {
    display: block;
    cursor: pointer;
  }
}