body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.link {
  text-decoration: none;
}
#topRegion {
  position: fixed;
  top: 200px;
  right: 0;
  border-radius: 5px;
  border: 2px solid red;
  margin: 0 20px;
  padding: 3px 7px;
}
#circleArrow{
  display: none;
  position: fixed;
  border-radius: 50%;
  top: 125px;
  left: 5px;
}
.arrows{
  width: 40px !important;
  height: 40px !important;
  color: #555555 !important;
}
#topRegion:hover {
  background-color: #555555;
  color: #ffffff;
  cursor: pointer;
}
@media screen and (max-width: 940px) {
  #circleArrow{
    display: block;
  }
}