.htmlWrapper{
    margin: 20% auto;
    height: 100vh;
}
.htmlCourse-outline_hint{
    text-align: center;
    color: #737373;
    font-size: smaller;
    margin-top: -50px;
}
.htmlCourse-outline_title{
    color: #737373;
    font-size: 20px;
    text-align: center;
}
.htmlCourse-grid{
 display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 20%;
    line-height: 42px;
}
.htmlCourse-links{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

/*Media Queries*/
@media screen and (max-width: 600px){
    .htmlWrapper{
        margin: 150px 50px 0;
    }
    .htmlGreeting{
        padding: 0 0;
    }
    .htmlCourse-grid{
        grid-template-columns: 1fr;
        margin-left: 20%;
        margin-top: 40px;
    }
}
@media screen and (max-width: 450px){
    .htmlCourse-grid{
        grid-template-columns: 1fr;
        margin-left: 15%;
        margin-top: 40px;
    }
    .htmlCourse-grid .link{
        font-size: 20px;
    }
}
@media screen and (max-width: 319px){
    .htmlCourse-grid{
        grid-template-columns: 1fr;
        margin-left: 10%;
        margin-top: 40px;
    }
}