.htmlWrapper{
    margin: 15% auto;
    height: 100vh;
}
.htmlGreeting{
    color: #737373;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    font-size: 10px;
}
.htmlUser-img_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.htmlUser-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #737373;
    padding: 5px;
}
.htmlCourse-outline_title{
    color: #737373;
    font-size: 20px;
    text-align: center;
}
.htmlCourse-grid{
 display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 20%;
    line-height: 42px;
}
.htmlCourse-links{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

/*Media Queries*/
@media screen and (max-width: 600px){
    .htmlWrapper{
        margin: 50px;
    }
    .htmlGreeting{
        padding: 0 0;
    }
    .htmlCourse-grid{
        grid-template-columns: 1fr;
        margin-left: 20%;
        margin-top: 40px;
    }
}
@media screen and (max-width: 450px){
    .htmlCourse-grid{
        grid-template-columns: 1fr;
        margin-left: 15%;
        margin-top: 40px;
    }
    .htmlCourse-grid .link{
        font-size: 20px;
    }
}
@media screen and (max-width: 319px){
    .htmlCourse-grid{
        grid-template-columns: 1fr;
        margin-left: 10%;
        margin-top: 40px;
    }
}