.htmlBasicExample-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 20px 40px;
}
.htmlBasicExample-img{
    width: 90%;
    height: 90%;
    border-radius: 5px;
}